html {
  box-sizing: border-box;
  text-align: center;
  background-color: #dbd6cf;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #595652;
}

header {
  background-color: #79756f;
  border-top: 4px solid #595652;
  border-bottom: 4px solid #595652;
}

h1 {
  font-family: Bevan, sans-serif;
  color: #fff;
  margin-bottom: 0;
}

nav ul {
  padding: 0;
  margin-top: 0;
}

nav li {
  display: inline-block;
  margin-bottom: .3em;
}

nav a {
  display: inline-block;
  font-family: sans-serif;
  padding: .6em .5em .75em;
  background-color: #713837;
  color: #fff;
  border-radius: 5px;
  list-style-type: none;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  background-color: #f33;
}
